
{% extends 'base.html' %}



{% block content %}


  <div class="container">
    <div class="py-5 text-center bg-secondary text-white">
     <h1 class="mb-3">Upload Image</h1>
     <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form}}
      
      <input type="submit" class="btn btn-danger" value="Upload"><br>
      <textarea placeholder="Type your caption here...."></textarea>
     </form>
    </div>  
    <style>
      textarea{
        margin:1em 0;
        width:56%;
        height:100px;
      }
    </style>
  {% endblock content %}

  